<section id="acerca_de">
  <div class="container-fluid">
    <h2>Acerca de mi</h2>
    <div class="divider oscuro"></div>
      <div *ngFor="let Info of inf" class="row">
        <div class="col-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center align-self-center">
          <h1>{{Info.nombre}} {{Info.apellido}}</h1> 
          <h2><em>{{Info.position}}</em></h2>
          <div>
            <p id="text-acercade">{{Info.aboutMe}}</p>
          </div>
          <a download={{Info.cvFile}} href={{Info.cvFile}}><button class="download-cv button">Download CV</button></a>
        </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center align-self-center">
          <img class="img-fluid" id="foto_perfil" src="{{Info.profileImg}}" alt="foto de perfil">
        </div>
 <!--    
      <div class="col">
        <button type="button" class="button" routerLink="/nuevainfo" *ngIf="isLogged">Agregar Información</button>
      </div> --> 
      <div *ngIf="isLogged"><button class="button edit" routerLink="/editinfo/{{Info.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
      </div>
      </div>
  </div>              
  </section>

