<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre </label>
                    <input type="text" placeholder="Nombre" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" requiered>
                </div>
                <div class="form-group">
                    <label for="apellido">apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellido" requiered>
                </div>
                <div class="form-group">
                    <label for="profileImg">profileImg</label>
                    <input type="text" class="form-control" id="profileImg" name="inicioEdu" [(ngModel)]="profileImg" requiered>
                </div>
                <div class="form-group">
                    <label for="position">position</label>
                    <input type="text" class="form-control" id="position" name="position" [(ngModel)]="position" requiered>
                </div>
                <div class="form-group">
                    <label for="aboutMe">aboutMe</label>
                    <input type="text" class="form-control" id="aboutMe" name="aboutMe" [(ngModel)]="aboutMe" requiered>
                </div>
                <div class="form-group">
                    <label for="cvFile">cvFile</label>
                    <input type="text" class="form-control" id="cvFile" name="cvFile" [(ngModel)]="cvFile" requiered>
                </div>
                <div class="form-group">
                    <label for="mail">mail </label>
                    <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="mail" requiered>
                </div>
                <div class="form-group">
                    <label for="phone">phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="phone" requiered>
                </div>
                <div class="form-group">
                    <label for="city">city</label>
                    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="city" requiered>
                </div>
                <div class="form-group">
                    <label for="country">country</label>
                    <input type="text" class="form-control" id="country" name="country" [(ngModel)]="country" requiered>
                </div>
                <button class="button">Agregar educación</button>
            </form>
        </div>
    </div>
</div>

