<div class="container">
    <h3>Agregar Educación</h3>
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu"></label>
                    <input type="text" placeholder="Nombre Institución" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" requiered>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu"></label>
                    <input type="text" placeholder="Título" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" requiered>
                </div>
                <div class="form-group">
                    <label for="inicioEdu"></label>
                    <input type="text" placeholder="Fecha de ingreso" class="form-control" id="inicioEdu" name="inicioEdu" [(ngModel)]="inicioEdu" requiered>
                </div>
                <div class="form-group">
                    <label for="finEdu"></label>
                    <input type="text" placeholder="Fecha de egreso" class="form-control" id="finEdu" name="finEdu" [(ngModel)]="finEdu" requiered>
                </div>
                <div class="form-group">
                    <label for="urlImgEdu"></label>
                    <input type="text" placeholder="URL Imagen Institución" class="form-control" id="urlImgEdu" name="urlImgEdu" [(ngModel)]="urlImgEdu" requiered>
                </div>
                <div class="form-group">
                    <label for="urlEdu"></label>
                    <input type="text" placeholder="URL Institucional" class="form-control" id="urlEdu" name="urlEdu" [(ngModel)]="urlEdu" requiered>
                </div>
                <button class="button">Agregar</button>
            </form>
        </div>
    </div>
</div>
