<section id="proyectos">
  <div class="container-fluid">
    <h2>Proyectos</h2>
    <div class="divider oscuro">
    </div>   
      <!--Proyectos: En esta sección deberá encontrarse la información sobre los proyectos que desarrollaste 
      o en que te involucraste, incluyendo este portfolio web. Cada proyecto deberá contener el nombre,
      fecha de realización, descripción y el link a su evidencia. Además, podés ilustrar esta sección con 
      imágenes de los proyectos.-->   
    <div class="row project">
        <div *ngFor="let Proyecto of pro" class="col-sm-4">
          <div class="card">
          <img class="card-img-top" [src]="Proyecto.urlImgPro" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{Proyecto.nombrePro}}</h4>
            <p class="card-text">{{Proyecto.descripcionPro}}</p>
            <a href="{{Proyecto.urlPro}}" target="_blank" class="project-a"><button class="project-btn">Ver proyecto</button></a>
            <div *ngIf="isLogged"><button class="button" routerLink="/editpro/{{Proyecto.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="button" (click)="delete(Proyecto.id)"><i class="fa-solid fa-ban"></i></button>
              </div>
          </div>
          </div>
        </div> 
        <div>
          <button type="button" class="button" routerLink="/nuevopro" *ngIf="isLogged">Agregar Proyecto</button>
        </div> 
    </div>
  </div>
</section>