h5 {
    margin-top: -1em;
}

p {
    margin-bottom: 5px;
}

.workplace {
    margin-left: -1em;
}

.row {
    margin-bottom: 1em;
}

button {
    margin: 3px;
}

@media only screen and (max-width: 815px) {
    .ED {
        margin-bottom: 20px;
    }

    .agregar {
        margin-top: -10px;
    }
}