      <!--Hard & Soft Skills: Con una forma de visualización atractiva(por ejemplo: porcentajes)mostrarás
      tu grado de dominio de habilidades duras y blandas.Podés también generar una sección adicional 
      con tu nivel de idiomas.-->
<section id="skills">
  <div class="container-fluid">
      <div class="row">

        <div class="Hard col-5">
          <h2>Hard Skills</h2>
          <div class="divider claro"></div>
          <div *ngFor="let Skill of hab" class="skills text-center">
              <h5>{{Skill.nombreHab}} <i class={{Skill.iconHab}}></i></h5>     
              <div class="progress">
                <div class="progress-bar" style="width:{{Skill.nivelHab}}%">{{Skill.etiquetaHab}}</div> <!--VER como EXTRAPOLAR con BOOTSTRAP-->
              </div>
              <div *ngIf="isLogged"><button class="button" routerLink="/editskill/{{Skill.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="button" (click)="delete(Skill.id)"><i class="fa-solid fa-ban"></i></button>
                </div>
            </div>
            <div>
              <button type="button" class="button" routerLink="/nuevaskill" *ngIf="isLogged">Agregar HardSkill</button>
            </div> 
          </div>
  
      <div class="col"></div>

      <div class="Soft col-5">
        <h2>Soft Skills</h2>
        <div class="divider claro"></div>   
    <!--       <div *ngFor="let Skill of hab" class="softskills">
        <h5 class="softskills"><img [src]="habil.icon"> {{habil.skill}}</h5>    
      </div> -->
      </div> 

    </div> 
    </div> 
  </section>
