.buttonEDH {
    border: none;
    background-color: #4f2361;
    margin: 2px;
}

.agregar {
    font-size: 0.75em;
}

@media only screen and (max-width: 815px) {
    nav {
        position: static;
    }

    .buttonEDH {
        font-size: 0.5em;
    }
}