<div class="container">
    <h3>Agregar red social</h3>
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="iconRed"></label>
                    <input type="text" placeholder="URL Ícono red social" class="form-control" id="iconRed" name="iconRed" [(ngModel)]="iconRed" requiered>
                </div>
                <div class="form-group">
                    <label for="nombreRed"></label>
                    <input type="text" placeholder="Nombre red social" class="form-control" id="nombreRed" name="nombreRed" [(ngModel)]="nombreRed" requiered>
                </div>
                <div class="form-group">
                    <label for="descripcionPro"></label>
                    <input type="text" placeholder="URL perfil Red social" class="form-control" id="descripcionRed" name="descripcionHab" [(ngModel)]="urlRed" requiered>
                </div>               
                <button class="button">Agregar</button>
            </form>
        </div>
    </div>
</div>
